@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1576143963245'); /* IE9 */
  src: url('iconfont.eot?t=1576143963245#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK0AAsAAAAABlQAAAJoAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApYbAE2AiQDCAsGAAQgBYRtBzYbmAXIrrApw6/oDrS3SXpxCKyn371iO5B5iIevsf+du7vfVLpnQzyKhkYi4qVaCQyNSGa6Wn1/2GnH9INFJX6eXdCMI2mAG9gGuv3m3k9gTIT5KL8iVMCj2zXXcvrSdOAm5Fj4STunHAXUllCAWWAS6ZWegIrMjZEiY83nuZzeBDqQa3ygXMYYNOayo15AvTiQAtsTo8hKKOOGsQtcwmMC9YYRcH+63mUqCmtVIO66tspUclFFYYVaobrmYP4X76rUpgdpPAu/H1+tR4WkKrNajq5PrEz/Q9cuwW8nXPEJMQI6XoWMRUAhztRmD+QF47D6bME4sK/G4EP/+x6xV6dgf51V3wgGoeqe1K7mVgsJbmusXsDIqO1E7z3zW+fVby8e9ZzP+fyrgbz/2XB/7c1lVKxkMz/96NS/fdfxwffnq+R9QLF+lhfTv0Dw7ujtfUv+V+oFvIdeQ0fRz0/tnnzBH1H37Cm61upOBfkTcDDpPZMcKnjACSvY7hlr6zp9MdTqGuGvMZQiqzVJFnYRVRpsolqtLdRbYI436NDlRanDvAUQWm0kzV4ja3WRhb1RpduLaq2RR71zwQsbTIdbK6MStODxFVxNkXG8UosaN2ingeKsNuQPyImbgE6zXSzMMEKeY0vyZHdFDBimEKbgOQwCgpjJQy1NRyTutVqm7k1NTWGmZg9DikAWYL0ChUYixh8uaqXPbyBbKqBwi6Ame4BYwp0cSIzoQc5MUS/BvbwyPLF1TcIAESMhoME8FAgQUOvneZAmmvKIdKyH2/1iX1NzfUv4dUegnmVPYe/OGm+7KhJKG5ri10wGAAA=') format('woff2'),
  url('iconfont.woff?t=1576143963245') format('woff'),
  url('iconfont.ttf?t=1576143963245') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1576143963245#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou-copy:before {
  content: "\e632";
}

